body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  background: $white;
  color: $black;
}

h1,
h2 {
  font-family: $heading-font-family;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $heading-font-weight;
}

h1,
.text-big {
  font-size: $h1-font-size / 1.125;
  line-height: $h1-line-height / 1.125;

  @media only screen and (min-width: $media-breakpoint) {
    font-size: $h1-font-size;
    line-height: $h1-line-height;
  }
}

h2 {
  font-size: $h2-font-size;
  line-height: $h2-line-height;
}

h3 {
  font-size: $h3-font-size;
  line-height: $h3-line-height;
  margin: 0 0 20px 0;
  font-weight: $base-font-weight;
}

h1,
h2,
p {
  margin: 0 0 40px 0;
}

a {
  text-decoration: none;
  color: $blue;

  &:hover {
    text-decoration: underline;
    color: $blue;
  }
}

header,
section,
footer {
  width: 90%;
  display: block;
  margin: 0 auto;

  @media only screen and (min-width: $media-breakpoint) {
    max-width: 640px;
  }
}
