---
layout: "base"
---
<header>
  <p>
    <img src="assets/images/logo.png" alt="Aleš Rosina">
  </p>

  <h1>Hi, I am a software engineer.</h1>

  <h2 class="header-blue">And a full-stack Rails developer with focus on frontend development.</h2>
</header>

{{ content }}

<footer>
  <p>
    <sup>*</sup> Want to see how I work? Check out source code of this website or go directly to
    <a href="https://github.com/alesrosina/alesrosina" target="_blank">https://github.com/alesrosina/alesrosina</a>
    where you can find raw source for this website.
  </p>
</footer>
