header {
  text-align: center;
  margin-top: 40px;

  @media only screen and (min-width: $media-breakpoint) {
    margin-top: 80px;
  }

  img {
    display: inline-block;
    margin-bottom: 0;
  }
  h1 {
    margin-bottom: 8px;
  }
  &.small {
    img {
      width: 64px;
      height: 64px;
    }

    h1 {
      font-size: $h2-font-size;
      line-height: $h2-line-height;
      margin-bottom: 40px;
    }
  }
}
h2.header-blue {
  color: $blue;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
}

@media print {
  header:before {
    content: '(This is extract of my profile found at alesrosina.com)';
    margin-bottom: 20px;
    font-size: $small-font-size;
    line-height: $small-line-height;
    display: block;
  }
}
